<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Borrar Estudiante</title>
</head>
<body>
	<form class="form-horizontal" action="#"
		th:action="@{/deleteStudent/submit}" th:object="${estudiante}"
		method="post">
		<fieldset>

			<!-- Form Name -->
			<legend>Añadir estudiante</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="name">Nombre:</label>
				<div class="col-md-4">
					<input id="name" name="name" type="text" th:field="*{name}"
						th:value="*{name}" class="form-control input-md" readonly="readonly">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="surname">Apellido:</label>
				<div class="col-md-4">
					<input id="surname" name="surname" type="text"
						th:field="*{surname}" th:value="*{surname}"
						class="form-control input-md" readonly="readonly">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="age">Edad:</label>
				<div class="col-md-4">
					<input id="age" name="age" type="number" step="1" th:field="*{age}"
						th:value="*{age}" class="form-control input-md" readonly="readonly">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="submit" name="submit" class="btn btn-primary">Eliminar</button>
				</div>
			</div>

		</fieldset>
	</form>
	
	<div class="form-group">
		<label class="col-md-4 control-label" for="cancel"></label>
		<div class="col-md-4">
			<a th:href="@{/listStudent}"><button id="cancel" name="cancel"
					class="btn btn-primary">Cancelar</button></a>
		</div>
	</div>
</body>

</html>